body {
    background-color: rgb(47, 3, 88);
    text-align: center;
    
}
h1{
    font-family: 'Squada One', cursive;
    color: darkcyan ;
    text-shadow: -2px 2px #08e61bd2;
}

p{
    color: mediumseagreen;
    text-shadow: -2px 2px #4400ff;
    font-family: 'Train One', cursive;
}

a{
    color: red;

}
h2{
    font-family: 'Squada One', cursive;
    color: rgb(172, 66, 233) ;
    text-shadow: -2px 2px #08e61bd2;
}
ul{
    color: rgb(236, 240, 11);
    text-shadow: -2px 2px #4400ff;
    font-family: 'Train One', cursive;
}



